header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px;
  
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
 
}
a  {
    color: white;
    text-decoration: none;
}

}
button {
    background: #3882f6;
    color: white;
}

.toptextwithpuppy {
    background-color: #1F2937;
    color: white;
}

img {
    height: 150px;
    width: 100px;
}