body {
    font-family: 'Roboto', sans-serif;"
}
header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 8px;
  
}
.headerlogo {
    font-size: large;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
 
}
a  {
    color: white;
    text-decoration: none;
}
.aligntext {
    text-align: center;
}
.container2 {
    display: flex;
}

.itemscontainer2 {
    border: 2px solid blue;

}
button {
    background: #3882f6;
    color: white;
}

.toptextwithpuppy {
    background-color: #1F2937;
    color: white;
}

img {
    height: 150px;
    width: 100px;
}